POSTGRES_USER=franchise_user
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=franchise_db
JWT_SECRET=YOUR_SECRET_KEY_HERE
AUTH_SERVICE_URL=http://auth-service:8081
ConnectionStrings__FranchiseDb=Host=localhost;Port=5438;Database=franchise_db;Username=franchise_user;Password=YOUR_PASSWORD
